{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'cage/index.css' %}" /> {% endblock %}
{% block title %}Cage{% endblock %}
{% block content %}

<ul>
<li>
    {% if cryptid.image %}
<img src="{{ cryptid.image.url }}" alt="image">
{% endif %}

    {{ cryptid.text }}
    {% for location in cryptid.locations.all %}
    <a href="{% url 'location' location.id %}">
        {{ location.text }}
    </a>
    {% endfor %}
</li>
<!-- <li>
    {% for discovery_date in cryptids %}
    <a href="{% url 'year' year %}">
        {{ year.text }}
    </a>
    {% endfor %}
</li>    -->

</ul>
{% endblock %}