{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cage/one.css' %}" /> {% endblock %}
{% block title %}Cage{% endblock %}
{% block content %}


<div class="oneContainer">
    {% if cryptid.image %}
    <img src="{{ cryptid.image.url }}" alt="image" class="oneImg">
    {% endif %}
    <h1 class="oneTitle">
        {{ cryptid.text }}
    </h1>
    {% for location in cryptid.locations.all %}
    <a href="{% url 'location' location.id %}" class="oneLink">
        {{ location.text }}
    </a>
    {% endfor %}

<h1>
<a href="{% url 'year' cryptid.discovery_date.year %}">
    {{cryptid.discovery_date.year}}
</a>/
<a href="{% url 'month' year=cryptid.discovery_date.year month=cryptid.discovery_date.month %}">
    {{cryptid.discovery_date.month}}
</a>/
<a href="{% url 'day' year=cryptid.discovery_date.year month=cryptid.discovery_date.month day=cryptid.discovery_date.day %}">
    {{cryptid.discovery_date.day}}
</a>
</h1>

</div>

{% endblock %}