{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cage/one.css' %}" /> {% endblock %}
{% block title %}Cage{% endblock %}
{% block content %}


<div class="oneContainer">
    {% if cryptid.image %}
    <img src="{{ cryptid.image.url }}" alt="image" class="oneImg">
    {% endif %}
    <h1 class="oneTitle">
        {{ cryptid.text }}
    </h1>
    {% for location in cryptid.locations.all %}
    <a href="{% url 'location' location.id %}" class="oneLink">
        {{ location.text }}
    </a>
    {% endfor %}
</div>

{% endblock %}