{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'cage/all.css' %}" /> {% endblock %}
{% block title %}Cage{% endblock %}
{% block content %}


<div class="cryptids">
{% for cryptid in cryptids %}
<div class="cryptidInfo">
    {% if cryptid.image %}
<img src="{{ cryptid.image.url }}" alt="image">
{% endif %} 

<a href="{% url 'cryptid' cryptid.id %}" id="text">
    {{ cryptid.text }}
</a>
</div>  
{% empty %}
    <li>No Cryptids</li>
{% endfor %}
</div>
{% endblock %}
