{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cage/one.css' %}" /> {% endblock %}
{% block title %}Cage{% endblock %}
{% block content %}


<div class="oneContainer">
    <h1 class="oneTitle">
        Search by Month
    </h1>
{% for cryptid in cryptids %}
    <a href="{% url 'cryptid' cryptid.id %}" class="oneSubtitle">
    {{ cryptid.text}}
    </a>
       
    <a class="oneLink" href="{% url 'month' year=cryptid.discovery_date.year month=cryptid.discovery_date.month %}">
        {{cryptid.discovery_date.year}}/{{cryptid.discovery_date.month}}
    </a>
{% endfor %}

</div>
{% endblock %}